<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugKitVisibleSections</key>
	<dict>
		<key>General</key>
		<true/>
		<key>Popups</key>
		<true/>
		<key>Timings</key>
		<true/>
		<key>Ads</key>
		<true/>
		<key>App</key>
		<true/>
	</dict>
	<key>DebugKitVisibleItems</key>
	<dict>
		<key>General</key>
		<dict>
			<key>server</key>
			<true/>
			<key>telegraph</key>
			<true/>
			<key>nodes</key>
			<true/>
		</dict>
		<key>Popups</key>
		<dict>
			<key>popup</key>
			<true/>
		</dict>
		<key>Timings</key>
		<dict>
			<key>timeLife</key>
			<true/>
			<key>timeLifeAdsServer</key>
			<true/>
			<key>timeActiveFeedback</key>
			<true/>
			<key>timerBackgroundFeedback</key>
			<true/>
			<key>timeForceCancelWait</key>
			<true/>
			<key>timeForcePositiveWait</key>
			<true/>
			<key>timeDay</key>
			<true/>
		</dict>
		<key>Ads</key>
		<dict>
			<key>interstitialPerDay</key>
			<true/>
			<key>interstitialInterval</key>
			<true/>
			<key>adsInspectorTestMode</key>
			<true/>
			<key>testAdsMode</key>
			<true/>
		</dict>
		<key>App</key>
		<dict>
			<key>app</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
